/* universal styles */
html {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2e4;
  color: #1D2A12;
}

main {
  flex: 1;
}

h1, h2, h3, h4, b {
  font-family: 'Kaushan Script', cursive;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 3rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #98A685;
}

a:hover {
  color: #D9896C;
}

a:active {
  color: #D9896C;
}

main a {
  color: #1D2A12;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

/* body styles */
header {
  background-color: #1D2A12;
  color: #98A685;
  border-bottom: 0.5rem solid #D9896C;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 1rem;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo svg {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-right: 0.25rem;
  border: 3px solid #98A685;
  border-radius: 100%;
}

header h1 {
  margin: 1.5rem 3rem 1.5rem 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li:first-of-type {
  margin: 0;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}

.banner .home {
  background-image: url('../img/banner-home.jpg');
  background-image: url('../img/banner-home.webp');
}

.banner .banner-pairings {
  background-image: url('../img/banner-pairings.jpg');
  background-image: url('../img/banner-pairings.webp');
}

.banner-img {
  height: 30rem;
  background-position: center;
  background-size: cover;
}

.banner span,
picture span {
  line-height: 1.5rem;
}

main h2 {
  margin-top: 1.5rem;
}

.intro-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro-body picture {
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
  .intro-body p:nth-of-type(2) {
    flex-basis: calc((100% - 1rem) * 0.4);
  }

  .intro-body picture {
    flex-basis: calc((100% - 1rem) * 0.6);
  }
}

.pairings {
  margin-top: 3rem;
}

.pairing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
  align-items: flex-start;
}

.pairing picture {
  flex-basis: 40%;
  outline: none;
  border: 6px solid #D9896C;
  border-radius: 5px;
}

.pairing:nth-child(even) picture {
  order: 2;
}

.pairing .pairing-text {
  flex-basis: calc(60% - 1.5rem);
}

.pairing p:first-of-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pairing b {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

main .closing {
  margin-bottom: 3rem;
}

footer {
  background-color: #1D2A12;
  color: #98A685;
  border-top: 0.5rem solid #D9896C;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav li {
  margin-left: 1.5rem;
}
